<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is template</title>
</head>
<body>
<p>this is template bro</p>
<form action='/analize' method='get'>
    <textarea name="text" style="width: 949px; height: 217px;"></textarea>
    <input type="checkbox" name="removepunc">remove punctuation <br>
    <input type="checkbox" name="fullcaps">fullcapalatised<br>
    <input type="checkbox" name="newlineremover">new line remover<br>
    <input type="checkbox" name="spaceremover">spaceremover<br>
    <input type="checkbox" name="charcounter">charcounter<br>
    <button type="submit">analyse button</button>


</form>

</body>
</html>